
<!--new-->
<div class="new">
  <div class="container">
    <div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
      <h3 class="title"><%= t("new_arrivals.first") %> <span><%= t("new_arrivals.show_details") %></span></h3>
      <p><%= t "new_arrivals.summary" %> </p>
    </div>

    <div class="new-info">
      <% @new_arrivals.each_with_index do |product, index| %>

        <% class_name = class_new_arrivals index%>

        <% wow_delay = 0.5 + (index)*0.2 %>
        <div class="<%= class_name %>" data-wow-delay=<%= wow_delay %> >
          <div class="new-top">
            <a href="#"><%= image_tag product.snap.new_arrivals.url, class:"img-responsive", alt:"đồ chơi mới về" %></a>
            <div class="new-text">
              <ul>
                <li><a class="item_add" href=""> <%= t "new_arrivals.add_cart" %></a></li>
                <li>
                  <%= link_to t("new_arrivals.quick_view"), product_path(product), class: "name" %>
                </li>
                <li>
                  <%= link_to t("new_arrivals.show_details"), product_path(product), class: "name" %>
                </li>
              </ul>
            </div>
          </div>
          <div class="new-bottom">
            <h5><%= link_to product.title, product_path(product), class: "name title_product" %></h5>
            <div class="ofr">
              <p class="pric1"><del><%= (product.price + (product.price)*0.2).round(2) %></del></p>
              <p><span class="item_price"><%= product.price %></span></p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--//new-->
