<!--trend-->
<div class="trend wow zoomIn animated" data-wow-delay=".5s">
  <div class="container">
    <div class="trend-info">
      <section class="slider grid">
        <div class="flexslider trend-slider">
          <ul class="slides">
            <% @trends.each do |trend| %>
              <li>
                <div class="col-md-5 trend-left">
                  <%= image_tag trend.snap.trend.url, alt:"đồ chơi hot" %>
                </div>
                <div class="col-md-7 trend-right">
                  <h4><%= trend.first_title %> <span><%= trend.last_title %></span></h4>
                  <h5><%= trend.sub_title %></h5>
                  <p><%= trend.description %></p>
                </div>
                <div class="clearfix"></div>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
<!--//trend-->
