<!--header-->
<div class="header">
  <!--<div class="top-header navbar navbar-default">&lt;!&ndash;header-one&ndash;&gt;-->
    <!--<div class="container">-->
      <!--<div class="nav navbar-nav wow fadeInLeft animated" data-wow-delay=".5s">-->
        <!--<p>Welcome to Modern Shoppe <a href="#">Register </a> Or <a href="#">Sign In </a></p>-->
      <!--</div>-->
      <!--<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated" data-wow-delay=".5s">-->
        <!--<ul>-->
          <!--<li><a href="#"> </a></li>-->
          <!--<li><a href="#" class="pin"> </a></li>-->
          <!--<li><a href="#" class="in"> </a></li>-->
          <!--<li><a href="#" class="be"> </a></li>-->
          <!--<li><a href="#" class="you"> </a></li>-->
          <!--<li><a href="#" class="vimeo"> </a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="clearfix"></div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="header-two navbar navbar-default"><!--header-two-->
    <div class="container">
      <div class="nav navbar-nav header-two-left">
        <ul>
          <li><i class="fa fa-phone" aria-hidden="true"></i> 0165 606 1585 </li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@example.com">hoangnhanc2@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="nav navbar-nav logo wow zoomIn animated" data-wow-delay=".7s">
        <h1>
          <%= link_to root_path, data: { turbolinks: 'false' } do %>
            Modern <b>Shoppe</b><span class="tag">Everything for Kids world </span>
          <% end %>
        </h1>
      </div>
      <div class="nav navbar-nav navbar-right header-two-right">
        <div class="header-right my-account">
          <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> CONTACT US</a>
        </div>
        <div class="header-right cart">
          <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          <h4><a href="#">
            <span class="simpleCart_total"> $0.00 </span>
            (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)
          </a></h4>
          <div class="cart-box">
            <p><a href="javascript:;" class="simpleCart_empty">Empty cart</a></p>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="top-nav navbar navbar-default"><!--header-three-->
    <div class="container">
      <nav class="navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!--navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav top-nav-info">
            <li><%= link_to "Home", root_path, class: "#{'active' if params[:controller] == 'static_pages'}", data: { turbolinks: 'false' } %></li>
            <li><%= link_to "Products", products_path, class: "#{'active' if params[:controller] == 'products'}" %></li>

            <li class="dropdown grid">
              <a href="#" class="dropdown-toggle list1" data-toggle="dropdown">Categories<b class="caret"></b></a>
              <ul class="dropdown-menu multi-column menu-two multi-column3">
                <div class="row">
                  <div class="col-sm-4 menu-grids">
                    <ul class="multi-column-dropdown">
                      <% Category.all.map(&:title).each do |category| %>
                        <li>
                          <%= link_to category, products_path(category: category), class: "list" %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="col-sm-8 menu-grids">
                    <%= link_to products_path do %>
                      <div class="new-add">
                        <h5>30% OFF <br> Today Only</h5>
                      </div>
                    <% end %>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </ul>
            </li>

            <li><a href="codes.html">Special Offers</a></li>
          </ul>
          <div class="clearfix"></div>
          <!--//navbar-collapse-->
          <header class="cd-main-header">
            <ul class="cd-header-buttons">
              <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
            </ul> <!-- cd-header-buttons -->
          </header>
        </div>
        <!--//navbar-header-->
      </nav>
      <div id="cd-search" class="cd-search">
        <form>
          <input type="search" placeholder="Search...">
        </form>
      </div>
    </div>
  </div>
</div>
<!--//header-->
