<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li>
        <%= link_to root_path, class: "", data: { turbolinks: 'false' } do %>
          <i class="fa fa-home" aria-hidden="true"></i></span> <%= t "breadcrumbs.home" %>
        <% end %>
      </li>
      <li class="active"><%= t "breadcrumbs.product" %></li>
    </ol>
  </div>
</div>

<!--products-->
<div class="products">
  <div class="container">
    <div class="col-md-9 product-model-sec">
      <% @products.each_slice(3) do |three_product| %>
        <% three_product.each do |product| %>
          <% class_name = product == three_product[1] ? 'product-grids product-grids-mdl simpleCart_shelfItem wow fadeInUp animated' : 'product-grids simpleCart_shelfItem wow fadeInUp animated' %>
          <% wow_delay = 0.5 + (three_product.index(product))*0.2 %>

          <div class="<%= class_name %>" data-wow-delay=<%= wow_delay.to_s.concat("s") %> >
            <div class="new-top">
              <%= image_tag product.snap.item_index.url, class: "img-responsive", alt:"ôtô đồ chơi cho bé" %>
              <div class="new-text">
                <ul>
                  <li>
                    <%= link_to t("new_arrivals.quick_view"), product_path(product), class: "item_quantity" %>
                  </li>
                  <li><input type="number" class="item_quantity" min="1" value="1"></li>
                  <li><a class="item_add" href=""> <%= t("new_arrivals.add_cart") %></a></li>
                </ul>
              </div>
            </div>
            <div class="new-bottom">
              <h5>
                <%= link_to product.title, product_path(product), class: "name title_product", title:  product.title %>
              </h5>
              <div class="ofr">
                <p class="pric1">
                  <del><%= (product.price + (product.price)*0.2).round(2) %></del>
                </p>
                <p><span class="item_price"><%= product.price %></span></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= paginate @products %>
    </div>

    <%= render "side_bar" %>
    <div class="clearfix"></div>
  </div>
</div>
